header {
  background-color: #F7F7F7;
  height: 70px;
}

/* Left side */

header .left {
  float: left;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  float: left;
  font-weight: 500;
}

header li:last-child {
  margin-left: 30px;
}

header li .blue-border {
  box-shadow: 0 -2px 0 #2D74EA inset;
}

header a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

header img.icon {
  padding: 18px 30px;
  display: block;
}

header.campaign li {
  margin: 0;
}

/* Right side */

header .right {
  float: right;
  padding-right: 10px;
}

header .right li {
  font-weight: 400;
}

header .right li.avatar {
  position: relative;
  padding-left: 44px;
}

header span {
  margin-right: 7px;
}

header span.avatar {
  background-color: #F8C425;
  color: white;
  width: 32px;
  border-radius: 4px;
  height: 32px;
  display: inline-block;
  position: absolute;
  line-height: 32px;
  text-align: center;
  left: 0;
  top: 18px;
}

header a.help {
  margin-right: 30px;
}

header.campaign a.save {
  color: #2D74EA;
  margin-right: 30px;
}
