/* MAIN NAVBAR */

header {
  background-color: #F7F7F7;
  height: 70px;
}

/* Left side */

header .left {
  float: left;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  float: left;
  font-weight: 500;
}

header li:last-child {
  margin-left: 30px;
}

header li .blue-border {
  box-shadow: 0 -2px 0 #2D74EA inset;
}

header a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

header img.icon {
  padding: 18px 30px;
  display: block;
}

header.campaign li {
  margin: 0;
}

/* Right side */

header .right {
  float: right;
  padding-right: 30px;
}

header .right li {
  font-weight: 400;
}

header .right li.user-info {
  position: relative;
  padding-left: 44px;
}

header .right li.user-info .dropdown {
  display: none;
  background: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.06), 0 10px 24px 0 rgba(0,0,0,0.09);
  position: absolute;
  top: 50px;
  width: 205px;
  z-index: 10;
  right: 0;
  border-radius: 3px;
  margin-top: 10px;
  overflow: hidden;
}

header .right li.user-info .dropdown ul li {
  display: block;
  height: auto;
  width: 100%;
  line-height: 50px;
  padding-left: 20px;
}

header .right li.user-info .dropdown ul li:first-child {
  border-bottom: 1px solid #EAEAEA;
}

header .right li.user-info .dropdown ul li:last-child {
  margin: 0;
}

header .right li.user-info:hover .dropdown {
  display: block;
}

header .right li.user-info span.email {
  background-image: image-url("arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}

header .right li.user-info span.avatar {
  margin-right: 7px;
  background-color: #F8C425;
  color: white;
  width: 32px;
  border-radius: 4px;
  height: 32px;
  display: inline-block;
  position: absolute;
  line-height: 32px;
  text-align: center;
  left: 0;
  top: 18px;
}

header .right li a.help {
  margin-right: 30px;
}

header.campaign input[type=submit].save {
  color: #2D74EA;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
}

header a.cancel {
  color: #2D74EA;
  margin: 0;
  opacity: 1;
}

header a.save {
  color: #2D74EA;
}

/* LOG IN/OUT NAVBAR */

header.session .right a {
  margin: 20px 25px;
}
