header {
  background-color: #F7F7F7;
  height: 70px;
}

.left {
  float: left;
}

a {
  text-decoration: none;
  color: black;
}

img.icon {
  padding: 20px 30px;
}

.right {
  float: right;
  margin-top: 20px;
}

span {
  margin-right: 7px;
}

span.avatar {
  background-color: #F8C425;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
}

a.help {
  margin: 0px 20px;
}
