<header class="session">
  <div class="left">
    <%= link_to root_path do %>
      <%= image_tag "icon.svg", class: "icon"  %>
    <% end %>
  </div>

  <div class="right">
    <%= link_to "Aide", root_path, class: "help" %></li>
  </div>
</header>
