<%= render 'shared/navbar-main' %>

<div class="wrapper form-top">
  <h1>Import from CSV file</h1>
</div>

<div class="wrapper form name">
    <form id="import_csv">
        <input type="file" />
    </form>
</div>
