<%= render 'shared/navbar-main' %>

<div class="wrapper form-top">
  <h1>Nouvelle liste de diffusion</h1>
</div>

<div class="wrapper form select">
  <h2>Quel est le nom de votre liste ?</h2><span>*</span>
  <%= form_for @mailing_list do |f| %>
    <%= f.text_field :name, class: 'main', autofocus: true %>
    <h2>Comment souhaitez-vous ajouter des destinataires ?</h2>
    <ul>
      <li>
        <input type="radio" name="mailing_list[import_type]" id="manual" value="manual">
        <label for="manual">Manuellement</label>
        <div class="check"></div>
      </li>
      <li>
        <input type="radio" name="mailing_list[import_type]" id="csv" value="csv">
        <label for="csv">Import de .CSV</label>
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
  <% end %>
</div>

<div class="wrapper form links">
  <input type="submit" form="new_mailing_list" class="button green create-list" value="Créer la nouvelle liste">
  <a onclick="window.history.back()" class="cancel">Annuler</a>
</div>
