<div class="wrapper form-top">
  <h1>Rédigez votre message</h1>
</div>

<div class="bottom fixed">
  <div class="links-left">
    <input type="button" value="Précédent" onclick="window.history.back()" class="button gray previous" >
  </div>
  <nav>
    <ul>
      <li><%= link_to "Destinataires", root_path, class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li><%= link_to "Message", root_path, class: "current" %></li>
      <li><%= image_tag "grey-arrow-right.svg" %></li>
      <li class="inactive">Valider</li>
    </ul>
  </nav>
  <div class="links-right">
    <input type="submit" form="new_campaign" class="button green next" value="Suivant">
  </div>
</div>
