/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


/* Buttons */

a.button {
  text-decoration: none;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px 20px;
}

a.green {
  background-color: #24CC83;
  color: white;
}

a.grey {
  color: black;
  background-color: #EAEAEA;
}

a.add {
  background-image: url(add.svg);
  background-repeat: no-repeat;
  background-position: 263px 17px;
  padding: 10px 50px 10px 20px;
}

a.previous {
  background-image: url(previous.svg);
  background-repeat: no-repeat;
  background-position: 19px 17px;
  padding: 10px 20px 10px 50px;
  display: block;
  cursor: pointer;
}

a.contact {
  background-image: url(add-contact.svg);
  background-repeat: no-repeat;
  margin-right: 13px;
  padding: 10px 27px;
  background-position: 18px 14px;
}

a.list {
  background-position: 242px 17px;
  padding: 10px 47px 10px 20px;
}

a.import {
  background-position: 165px 17px;
  margin-left: 7px;
}

a.cancel {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  font-weight: 400;
  cursor: pointer;
  margin-left: 20px;
}

a.modify {
  text-decoration: none;
  color: #2D74EA;
}

a.back {
  background-image: url(back-arrow.svg);
  background-repeat: no-repeat;
  padding: 10px 37px;
  background-position: 26px 16px;
}

/* Forms */

input {
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  padding: 7px 0px 7px 18px;
  font-family: 'Poppins', sans-serif;
}

input:focus {
  border: 1px solid #2D74EA;
}

input[type=submit].button {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

input[type=submit].green {
  background-color: #24CC83;
  color: white;
}

input[type=submit].grey {
  color: black;
  background-color: #EAEAEA;
}

input[type=submit].plan {
  width: 115px;
  padding: 10px 20px;
}

input[type=submit].send {
  width: 100px;
  padding: 10px 20px 10px 18px;
  margin-left: 8px;
}

input[type=submit].next {
  background-image: url(next.svg);
  background-repeat: no-repeat;
  background-position: 91px 17px;
  padding: 10px 50px 10px 18px;
}

input[type=submit].inactive {
  opacity: 0.5;
  cursor: default;
}

input[type=submit].add-contact {
  border-radius: 3px;
  padding: 10px 18px 10px 19px;
}

input[type=submit].edit-contact {
  width: 190px;
  border-radius: 3px;
  padding: 10px 18px 10px 19px;
}

textarea {
  width: 580px;
  height: 155px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 20px 25px;
  resize: none;
}

textarea.background-red {
  background-color: #FF001F;
  background: rgba(255,0,0,0.09);
}

textarea:focus {
  border: 1px solid #2D74EA;
}

/* Wrapper top */

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 17px;
}

.wrapper.top {
  border-bottom: 1px solid #EAEAEA;
  margin: 65px auto;
  position: relative;
}

.wrapper.top h1.padded {
  padding-left: 100px;
}

.wrapper.top .right-links {
  position: absolute;
  top: 19px;
  right: 0;
}

.wrapper.top .left-links {
  position: absolute;
  top: 19px;
  left: 0;
}

.wrapper.hero {
  margin-bottom: 50px;
  text-align: center;
}

.wrapper.hero img.illustration {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper.hero h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
}

.wrapper.hero a {
  margin: 0 auto;
}

/* Wrapper form */

.wrapper.form {
  max-width: 600px;
}

.wrapper.form h2, span {
  font-weight: 500;
  font-size: 18px;
}

.wrapper.form h2 {
  margin: 35px 0 5px;
  display: inline-block;
}

.wrapper.form span {
  color: #CC2424;
  margin-left: 3px;
}

.wrapper.form input {
  width: 580px;
}

.wrapper.form input.main {
  font-size: 22px;
  padding: 9px 0px 9px 20px;
}


/* Wrapper form CSV section */

.wrapper.form.csv {
  margin: 35px auto 200px;
}

.wrapper.form.csv input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.wrapper.form.csv label {
  font-size: 18px;
  font-weight: 500;
}

.wrapper.form.csv label .browse {
  width: 100%;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  height: 55px;
  margin-top: 5px;
  cursor: pointer;
}

.wrapper.form.csv label .browse span {
  border-radius: 4px;
  color: black;
  font-weight: 600;
  background-color: #F7F7F7;
  border-left: 1px solid #CFCFCF;
  float: right;
  height: 100%;
  line-height: 54px;
  padding: 0 28px;
  opacity: 0.8;
}

.wrapper.form.csv a.csv-type {
  text-decoration: none;
  color: #2D74EA;
}

.wrapper.form.csv p {
  font-size: 16px;
  opacity: 0.5;
}

.wrapper.form.csv p.allowed {
  font-size: 14px;
  opacity: 1;
}

.wrapper.form.links {
  padding-bottom: 90px;
}

.wrapper.form.links a.delete {
  text-decoration: none;
  display: block;
  color: #CC2424;
  margin-top: 65px;
}

.wrapper.form.links input {
  width: 185px;
  display: inline-block;
  border-radius: 3px;
}

.wrapper.form.links input.create-list {
  width: 220px;
  padding: 10px 20px;
}

.wrapper.form.links input.edit-contact {
  width: 190px;
  border-radius: 3px;
  padding: 10px 18px;
  margin-top: 35px;
}

/* Wrapper list */

.wrapper .list-item {
  border-bottom: 1px solid #EAEAEA;
  position: relative;
}

.wrapper .list-item img {
  float: left;
  padding: 9px 22px 0;
}

.wrapper .list-item h2 {
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.wrapper .list-item p {
  margin: 0 0 25px;
  opacity: 0.5;
}

.wrapper .list-item .links {
  position: absolute;
  top: -4px;
  right: 0px;
}

/* MailingList#new et Campaign#name */

.wrapper.form.select ul {
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
}

.wrapper.form.select ul li {
  border-bottom: 1px solid #E7E7E7;
  position: relative;
  height: 60px;
}

.wrapper.form.select ul li label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  border: none;
  position: relative;
  padding: 16px 0px 30px 85px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.wrapper.form.select ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.wrapper.form.select ul li .check{
  display: block;
  position: absolute;
  border: 2px solid #D6D6D6;
  border-radius: 100%;
  height: 22px;
  width: 22px;
  top: 17px;
  left: 30px;
	z-index: 5;
}

.wrapper.form.select ul li:hover .check {
  border: 2px solid #2D74EA;
}

.wrapper.form.select ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 3px;
	left: 3px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.wrapper.form.select input[type=radio]:checked ~ .check {
  border: 2px solid #2D74EA;
}

.wrapper.form.select input[type=radio]:checked ~ .check::before{
  background: #2D74EA;
}

.wrapper.form.select.name {
  margin-bottom: 150px;
}

.wrapper.form.select.name ul li {
  height: 99px;
}

.wrapper.form.select.name ul li label {
  padding: 22px 0px 30px 85px;
}

.wrapper.form.select.name ul li label span {
  display: block;
  font-size: 16px;
  opacity: 0.5;
  color: black;
  font-weight: 400;
  margin: 0;
}

.wrapper.form.name ul li .check {
  top: 37px;
}

/* Footer */

.bottom {
  background-color: #F7F7F7;
  height: 85px;
  position: relative;
  z-index: 1000;
}

.bottom ul {
  text-align: center;
  list-style: none;
  padding: 15px 0 0;
}

.bottom li {
  display: inline-block;
  font-weight: 600;
  color: black;
  margin-right: 15px;
}

.bottom li.inactive {
  opacity: 0.5;
}

.bottom li a.current {
  text-decoration: none;
  color: black;
}

.bottom .links-right {
  position: absolute;
  top: 20px;
  right: 30px;
}

.bottom .links-left {
  position: absolute;
  top: 20px;
  left: 30px;
}

.bottom.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
