/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


/* Buttons */

a.button {
  text-decoration: none;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px 20px;
}

a.green {
  background-color: #24CC83;
  color: white;
}

a.grey {
  color: black;
  background-color: #EAEAEA;
}

a.add {
  background-image: url(add.svg);
  background-repeat: no-repeat;
  background-position: 263px 17px;
  padding: 10px 50px 10px 20px;
}

a.previous {
  background-image: url(previous.svg);
  background-repeat: no-repeat;
  background-position: 19px 17px;
  padding: 10px 20px 10px 50px;
  display: block;
  cursor: pointer;
}

a.contact {
  background-image: url(add-contact.svg);
  background-repeat: no-repeat;
  margin-right: 14px;
  padding: 10px 28px;
  background-position: 20px 14px;
}

/* Forms */

input {
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  padding: 7px 0px 7px 18px;
  font-family: 'Poppins', sans-serif;
}

input:focus {
  border: 1px solid #2D74EA;
}

input[type=submit].button {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

input[type=submit].green {
  background-color: #24CC83;
  color: white;
}

input[type=submit].grey {
  color: black;
  background-color: #EAEAEA;
}

input[type=submit].plan {
  width: 115px;
  padding: 10px 20px;
}

input[type=submit].send {
  width: 100px;
  padding: 10px 20px 10px 18px;
  margin-left: 8px;
}

input[type=submit].next {
  background-image: url(next.svg);
  background-repeat: no-repeat;
  background-position: 91px 17px;
  padding: 10px 50px 10px 18px;
}

textarea {
  width: 580px;
  height: 155px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 20px 25px;
  resize: none;
}

textarea:focus {
  border: 1px solid #2D74EA;
}

/* Wrapper */

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 17px;
}

.wrapper.top {
  border-bottom: 1px solid #EAEAEA;
  margin: 65px auto;
  position: relative;
}

.wrapper.top .links {
  position: absolute;
  top: 19px;
  right: 0;
}

.wrapper.hero {
  margin-bottom: 50px;
  text-align: center;
}

.wrapper.hero img.illustration {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper.hero h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
}

.wrapper.hero a {
  margin: 0 auto;
}

/* Footer */

.bottom ul {
  text-align: center;
  list-style: none;
  padding: 15px 0 0;
}

.bottom li {
  display: inline-block;
  font-weight: 600;
  color: black;
  margin-right: 15px;
}

.bottom li.inactive {
  opacity: 0.5;
}

.bottom li a.current {
  text-decoration: none;
  color: black;
}

.bottom .links-right {
  position: absolute;
  top: 20px;
  right: 30px;
}

.bottom .links-left {
  position: absolute;
  top: 20px;
  left: 30px;
}

.bottom.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
