/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


/* Buttons */

a.button {
  text-decoration: none;
  border-radius: 3px;
  font-weight: 600;
  padding: 10px 20px;
}

a.green {
  background-color: #24CC83;
  color: white;
}

a.grey {
  color: black;
  background-color: #EAEAEA;
}

a.add {
  background-image: url(add.svg);
  background-repeat: no-repeat;
  background-position: 263px 17px;
  padding: 10px 50px 10px 20px;
}

a.previous {
  background-image: url(previous.svg);
  background-repeat: no-repeat;
  background-position: 19px 17px;
  padding: 10px 20px 10px 50px;
  display: block;
  cursor: pointer;
}

/* Forms */

input {
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  padding: 7px 0px 7px 18px;
  font-family: 'Poppins', sans-serif;
}

input:focus {
  border: 1px solid #2D74EA;
}

input[type=submit].button {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

input[type=submit].green {
  background-color: #24CC83;
  color: white;
}

input[type=submit].grey {
  color: black;
  background-color: #EAEAEA;
}

input[type=submit].plan {
  width: 115px;
  padding: 10px 20px;
}

input[type=submit].send {
  width: 100px;
  padding: 10px 20px 10px 18px;
  margin-left: 8px;
}

input[type=submit].next {
  background-image: url(next.svg);
  background-repeat: no-repeat;
  background-position: 91px 17px;
  padding: 10px 50px 10px 18px;
}

textarea {
  width: 580px;
  height: 155px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 20px 25px;
  resize: none;
}

textarea:focus {
  border: 1px solid #2D74EA;
}

/* Wrapper */

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 8px;
}

/* Pages#home */

.wrapper.top {
  border-bottom: 1px solid #EAEAEA;
  margin: 65px auto;
}

.wrapper.top a {
  float: right;
}

.wrapper.hero {
  margin-bottom: 50px;
  text-align: center;
}

.wrapper.hero img.illustration {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}

.wrapper.hero h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
}

.wrapper.hero a {
  margin: 0 auto;
}

/* Campaign#name */

.wrapper.form-top {
  max-width: 600px;
  border-bottom: 1px solid #EAEAEA;
}

.wrapper.form-top h1 {
  margin-top: 65px;
}

.wrapper.form {
  max-width: 600px;
}

.wrapper.form h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 35px 0 5px;
}

.wrapper.form input {
  width: 580px;
}

.wrapper.form input.main {
  font-size: 22px;
  padding: 9px 0px 9px 20px;
}

.bottom {
  background-color: #F7F7F7;
  height: 85px;
  position: relative;
}

/* Campaign#message */

.wrapper.message-top {
  border-bottom: 1px solid #EAEAEA;
}

.wrapper.message-top h1 {
  margin-top: 65px;
}

.wrapper.message {
  position: relative;
}

.wrapper.message h2 {
  font-size: 14px;
  margin-top: 43px;
  font-weight: 500;
  display: inline-block;
}

.wrapper.message input.main {
  font-size: 22px;
  height: 200px;
  max-width: 600px;
}

.wrapper.message a {
  text-decoration: none;
  background-color: #EAF1FC;
  background-image: url(blue-add.svg);
  background-repeat: no-repeat;
  background-position: 10px 8px;
  font-size: 14px;
  color: #2D74EA;
  padding: 3px 15px 3px 30px;
  border-radius: 100px;
  margin-left: 8px;
}

.wrapper.message img {
  position: absolute;
  top: 40px;
  right: 0;
  padding-bottom: 200px;
}

/* Campaign#preview */

.wrapper.preview-top {
  border-bottom: 1px solid #EAEAEA;
  text-align: center;
}

.wrapper.preview-top h1 {
  margin-top: 65px;
  margin-bottom: 2px;
}

.wrapper.preview-top p {
  font-size: 18px;
  opacity: 0.6;
  margin: 0 auto 30px;
  max-width: 400px;
}

.wrapper .list-item {
  border-bottom: 1px solid #EAEAEA;
  position: relative;
}

.wrapper .list-item img {
  float: left;
  padding: 2px 22px 0;
}

.wrapper .list-item h2 {
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.wrapper .list-item p {
  margin: 0 0 25px;
  opacity: 0.5;
}

.wrapper .list-item a {
  position: absolute;
  top: -4px;
  right: 25px;
  padding: 10px 25px;
}

.wrapper .list-item:last-child {
  margin-bottom: 50px;
}

/* Campaign#index */

.wrapper.top.campaign-list {
  margin: 65px auto 0px;
}

.wrapper.campaign-list .list-item {
  padding-top: 27px;
}

.wrapper.campaign-list .list-item a.button {
  top: 25px;
  right: 25px;
}

.wrapper.campaign-list .list-item a.campaign-link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #2D74EA;
  text-decoration: none;
}

.wrapper.campaign-list .list-item p {
  line-height: 0.7;
  margin: 0px 0 30px;
}

.wrapper.campaign-list .list-item strong {
  font-weight: 500;
}

/* MailingList#index */

.wrapper.top.mailing-list a {
  background-position: 242px 17px;
  padding: 10px 47px 10px 20px;
}

/* Footer */

.bottom ul {
  text-align: center;
  list-style: none;
  padding: 15px 0 0;
}

.bottom li {
  display: inline-block;
  font-weight: 600;
  color: black;
  margin-right: 15px;
}

.bottom li.inactive {
  opacity: 0.5;
}

.bottom li a.current {
  text-decoration: none;
  color: black;
}

.bottom .links-right {
  position: absolute;
  top: 20px;
  right: 30px;
}

.bottom .links-left {
  position: absolute;
  top: 20px;
  left: 30px;
}

.bottom.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
