// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Campaign#index */

.wrapper.top.list {
  margin: 52px auto 0px;
}

.wrapper.list {
  margin-bottom: 150px;
}

.wrapper.list .list-item {
  padding-top: 27px;
}

.wrapper.list .list-item .links {
  top: 39px;
  right: 25px;
}

.wrapper.list .list-item a.campaign-link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #2D74EA;
  text-decoration: none;
}

.wrapper.list .list-item p {
  line-height: 1.2;
  margin: 0px 0 30px;
}

.wrapper.list .list-item strong {
  font-weight: 500;
}

/* Campaign#name */

.wrapper.form-top {
  max-width: 600px;
  border-bottom: 1px solid #EAEAEA;
}

.wrapper.form-top h1 {
  margin-top: 65px;
}

.wrapper.form.no-list {
  text-align: center;
  padding-bottom: 190px;
}

.wrapper.form.no-list img {
  margin-top: 60px;
}

.wrapper.form.no-list h2 {
  margin: 20px 0px 30px;
  font-size: 22px;
}

/* Campaign#message */

.wrapper.message-top {
  border-bottom: 1px solid #EAEAEA;
}

.wrapper.message-top h1 {
  margin-top: 65px;
}

.wrapper.message-top span {
  color: #CC2424;
  margin-left: 3px;
}

.wrapper.message {
  position: relative;
}

.wrapper.message h2 {
  font-size: 14px;
  margin-top: 43px;
  font-weight: 500;
  display: inline-block;
}

.wrapper.message input.main {
  font-size: 22px;
  height: 200px;
  max-width: 600px;
}

.wrapper.message span.substitute-text {
  text-decoration: none;
  background-color: #EAF1FC;
  background-image: image-url("blue-add.svg");
  background-repeat: no-repeat;
  background-position: 10px 8px;
  font-size: 14px;
  color: #2D74EA;
  padding: 3px 15px 3px 30px;
  border-radius: 100px;
  margin-left: 8px;
}

.wrapper.message span.message_char_count {
  position: absolute;
  bottom: -25px;
  left: 0;
}

.wrapper.message span.characters {
  font-size: 14px;
  font-weight: 400;
}

.wrapper.message span.sms_count {
  font-size: 14px;
  font-weight: 400;
}

.wrapper.message span.red {
  font-size: 14px;
  color: #FF475E;
  font-weight: 400;
}

#phone {
  width: 280px;
  height: 535px;
  position: absolute;
  top: 40px;
  right: 0;
}

#phone .screen {
  overflow-y: scroll;
  position: absolute;
  top: 64px;
  left: 18px;
  width: 244px;
  height: 406px;
}

#phone img {
  z-index: 0;
  padding-bottom: 200px;
}

#message-bubble {
  font-family: sans-serif;
  margin: 10px;
  width: auto;
  border-radius: 16px;
  background-color: #24CC83;
  z-index: 2;
  color: white;
  font-size: 12px;
  line-height: 17px;
  padding: 16px;
  white-space: pre-line;
  overflow: hidden;
}

/* Campaign#preview */

.wrapper.preview-top {
  border-bottom: 1px solid #EAEAEA;
  text-align: center;
  padding-top: 25px;
}

.wrapper.preview-top h1 {
  margin-top: 25px;
  margin-bottom: 2px;
}

.wrapper.preview-top p {
  font-size: 18px;
  opacity: 0.6;
  margin: 0 auto 30px;
  max-width: 400px;
}

.wrapper.preview .list-item .links {
  top: 6px;
  right: 21px;
}

.wrapper.preview .list-item img {
  padding: 2px 22px 0px;
}

/* Campaign#preview */

.wrapper.schedule {
  border-bottom: 1px solid #EAEAEA;
}

.wrapper.schedule .top img {
  float: left;
  padding: 3px 22px 0;
}

.wrapper.schedule .top h2 {
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.wrapper.schedule .top p {
  margin: 2px 0 5px;
  opacity: 0.5;
}

.wrapper.schedule .content {
  margin-left: 79px;
  padding-bottom: 25px;
}

.wrapper.schedule .content p {
  opacity: 0.5;
  margin: 25px 0 5px;
}

.wrapper.schedule .content span {
  margin: 0 5px;
  font-weight: 400;
}

.wrapper.schedule .content a {
  margin-left: 6px;
}

.wrapper.schedule .content span.timezone {
  margin-left: 10px;
}

.wrapper.schedule .content input.date {
  max-width: 500px;
}

.wrapper.schedule .content input.time {
  max-width: 41px;
  padding-left: 24px;
}

.wrapper.schedule.links {
  padding: 25px 0 90px 156px;
  border-bottom: none;
}

.wrapper.schedule.links a {
  margin-left: 15px;
}

.wrapper.schedule.links input {
  display: inline-block;
  width: 230px;
  border-radius: 3px;
}

.wrapper.schedule.links input.schedule {
  padding: 10px 20px;
}

// Campaign#show

.wrapper.message.show h2  {
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 0;
}

.wrapper.message.show h3 {
  font-size: 16px;
  opacity: 0.5;
  font-weight: 400;
  margin-top: 0;
  line-height: 20px;
}
