// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper.form.checkboxes {
  max-width: 600px;
  padding: 10px 0 40px;
}

.wrapper.form.checkboxes .checkbox {
  position: relative;
  margin-top: 30px;
}

.wrapper.form.checkboxes .checkbox input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper.form.checkboxes .checkbox input[type="checkbox"] + label {
  padding: 4px 0 0 45px;
  font-size: 18px;
  font-weight: 500;
}

.wrapper.form.checkboxes .checkbox input[type="checkbox"] + label:before {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 2px solid #D6D6D6;
  cursor: pointer;
}

.wrapper.form.checkboxes .checkbox input[type="checkbox"]:checked + label:before {
  background: #2D74EA image-url("check.svg") no-repeat center center;
  border: 2px solid #2D74EA;
}
